<div>
    <h1>SEARCH</h1>
    <form>
        <div class="form-group">
            <label for="search-form">Search</label>
            <input class="form-control" id="search-form" name="q">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <form method="POST" action="/news" class="mt-5">
        <div class="form-group">
            <label for="search-news">Search News</label>
            <input class="form-control" id="search-news" name="news">
        </div>

        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
</div>